@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
   margin: 5px;
}

/* body .main .bg{
    width: 500px;
    float: right;
}
body .main .bg-g{
    width: 1000px;
    position: relative;
    z-index: 2;
    
} */

.nav-bar .logo p{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #ffb800 ;
    font-size: 50px;
}
.nav-bar .searchbar .form-inline .form-control{
    border-radius: 5px;
    border-color: #ffb800;
    font-family: 'Lato', sans-serif;

}