@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
   margin: 0px;
   
}
.con1{
    width: 100vw;
    height: 600px;
    background-color: #4b783c;
}
body .main .bg-g{
    width: 1000px;
    position: relative;
    z-index: 2;
    
} 
.nav-bar{
    display: flex;

}
.nav-bar .logo p{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #ffb800 ;
    font-size: 50px;
    position: relative;
    left: 20px;
}

 
.nav-icons ul{
    display: flex;
    align-items: center;
    gap: 20px;
  
}
.nav-icons ul li  {
   list-style:none;

}
.nav-icons ul li a {
    text-decoration:none;
    color: aliceblue;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    position: relative;
    left: 900px;
    top: 20px;

}

.txt p{
    color: aliceblue;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 40px;
    position: relative;
    width: 500px;
    top: 160px;
   left: 50px;
}
img{
    width: 850px;
    height: 600px;
    float: right;
    position: relative;
    top: -210px;
    left: -50px;
}
.con2 .img img{
    width: 500px;
    position: relative;
    top: 100px;
    left: 110px;
}
.con2 .heading p{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 50px;
    position: relative;
    top: -500px;
    left: 500px;
}
.points{
    float: right;
}
/* .points .p2, .p3, .p4{
    width: 290px;
    height: 90px;
    background-color: #fff;
    box-shadow: 0px 9.21897px 9.21897px rgba(0, 0, 0, 0.17);
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    align-content: center;
    justify-items: center;
    font-size: 20px;

} */
.points .p1{
    position: relative;
    top: -500px;
    left: -300px;
    width: 290px;
    height: 90px;
    background-color: #fff;
    box-shadow: 0px 9.21897px 9.21897px rgba(0, 0, 0, 0.17);
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    align-content: center;
    justify-items: center;
    font-size: 20px;
}
.points .p2{
    position: relative;
    top: -480px;
    left: -300px;
    width: 290px;
    height: 90px;
    background-color: #fff;
    box-shadow: 0px 9.21897px 9.21897px rgba(0, 0, 0, 0.17);
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    align-content: center;
    justify-items: center;
    font-size: 20px;
}
.points .p3{
    position: relative;
    top: -460px;
    left: -300px;
    width: 290px;
    height: 90px;
    background-color: #fff;
    box-shadow: 0px 9.21897px 9.21897px rgba(0, 0, 0, 0.17);
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    align-content: center;
    justify-items: center;
    font-size: 20px;
}

.points .p4{
    position: relative;
    top: -440px;
    left: -300px;
    width: 290px;
    height: 90px;
    background-color: #fff;
    box-shadow: 0px 9.21897px 9.21897px rgba(0, 0, 0, 0.17);
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    align-content: center;
    justify-items: center;
    font-size: 20px;
}
.circle {
    width: 15px;
    height: 15px;
    background-color: green;
    border-radius: 50%;
    z-index: 20;
    position: relative;
    left: -130px;
    top: 35px;
  }

  .circle1{
    width: 15px;
    height: 15px;
    background-color: #FFB800;
    border-radius: 50%;
    z-index: 20;
    position: relative;
    left: -130px;
    top: 15px;
  }