@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
   margin: 5px;
   background-color: #4b783c;
}

body .main .bg-g{
    width: 1000px;
    position: relative;
    z-index: 2;
    
} 
.nav-bar{
    display: flex;

}
.nav-bar .logo p{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #ffb800 ;
    font-size: 50px;
}

 
.nav-icons ul{
    display: flex;
    align-items: center;
  
}
.nav-icons ul li  {
   list-style:none;
}
.nav-icons ul li a {
    text-decoration:none;
    color: aliceblue;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    position: relative;
    left: 800px;
    top: 20px;
}

.txt p{
    color: aliceblue;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 40px;
    position: relative;
    top: 160px;
   left: 50px;
}
img{
    width: 200px;
    height: 200px;
    float: right;
}